body {
	font-family: arial, verdana;
}

table {
	background-color: #FFF;
	width: 800px;
	left: 50%;
	position: relative;
	margin-left: -400px;
}

th {
	background-color: #CCC;	
}

td, th {
	padding: 10px;
	border-bottom: solid 2px #ccc;
}

label {
	display: block;
	width: 100%;
	height: 46px;
	font-weight: bold;
}

input, select {
	width: 100%;
	height: 30px;
	font-size: 18px;
	margin-bottom: 10px;
	color: #919191;
}

#form-container {
	width: 500px;
	left: 50%;
	position: relative;
	margin-left: -250px;
}

#form-labels, #form-fields{
	width: 50%;
}

#form-labels {
	float: left;
}

#form-fields{
	float: right;
}

#login-form  {
	background-color: #FFF;
	width: 400px;
	left: 50%;
	position: relative;
	margin-left: -200px;
}

#login-form label {
	height: auto;
	font-weight: bold;
	margin-bottom: 10px;
}