<div id="login-form">
	<form {{action "login" on="submit"}}>
		<label>Username</label>
		{{input value=username type="text"}}
		<label>Password</label>
		{{input value=password type="password"}}
		<button type="submit">Login</button>
	</form>
	{{#if loginFailed}}
		<div class="alert">Invalid username or password.</div>
	{{/if}}
</div>