<h1>Welcome, user!!</h1>
<h5>What do you want to do?</h5>
<ul>
	<li>{{#link-to 'organization'}}Add an Organization{{/link-to}}</li>
	<li>{{#link-to 'organizations'}}List all Organizations{{/link-to}}</li>
</ul>

{{#link-to 'logout'}}Logout{{/link-to}}