<div id="form-container">
	<form id="new-organization-form" {{action "create" on="submit"}}>
		<div id="form-labels">
			<label>Name</label>

			<label>Short Name</label>

			<label>ESPN Name</label>

			<label>Mascot</label>

			<label>Conference</label>

			<label>Organization Type</label>
		</div>
		<div id="form-fields">
			{{input value=name type="text"}}
			
			
			{{input value=shortName type="text"}}
			
			
			{{input value=espnName type="text"}}
			
			
			{{input value=mascot type="text"}}

			
			{{view "select" 
				content=controllers.conferences 
				optionValuePath="content.id"
		     	optionLabelPath="content.name"
		     	selectionBinding="selectedConference"}}

			
			{{view "select" 
				content=controllers.organizationTypes 
				optionValuePath="content.id"
		     	optionLabelPath="content.name"
		     	selectionBinding="selectedOrganizationType"}}
		</div>

		<button type="submit">Create</button>
	</form>
</div>
