
<table>
	<tr>
	  <th>Name</th>
	  <th>Short Name</th>
	  <th>ESPN Name</th>
	  <th>Mascot</th>
	  <th>Conference</th>
	  <th>Organization Type</th>
	</tr>
	 {{#each organization in model}}
	  <tr>
	    <td>{{organization.name}}</td>
	    <td>{{organization.short_name}}</td>
	    <td>{{organization.espn_name}}</td>
	    <td>{{organization.mascot}}</td>
	    <td>{{organization.go_conference_id.name}}</td>
	    <td>{{organization.go_organization_type_id.name}}</td>
	  </tr>
	{{/each}}
</table>